[Unit]
Description=Crossoff Server
[Service]
User=user
WorkingDirectory=/home/user/crossoff-server
ExecStart=/home/user/crossoff-server/bin/crossoff-server
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target

